services:
  api:
    build: .
    container_name: phishwatch-api
    ports:
      - "8080:8000"
    volumes:
      - .:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      - PYTHONUNBUFFERED=1
